
div.posts {

  .div.post {
    
  }
}
div.post {
  padding-top: .5em;
  padding-bottom: 1em;
  border-bottom: 1px $base-05 solid;
  @include MQ(M) {

    padding-bottom: 2em;  
  }

  &:last-child {
    border-bottom: none;
  }
}
p.post-meta {
  line-height: 1.6;
  letter-spacing: 2px;
  @include font-size(12px);
  overflow: hidden;
  display: block;
  padding: 1em 0;
  color: #7A7A7A;
  @include MQ(M) {
    @include font-size(16px);
  }
}