code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {  
  padding: .25em .5em;
  font-size: 85%;
  color: $base-08;
  background-color: rgba($base-08, .1);
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 1em;
  @include font-size(12px);
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $color-white;
  border: 1px solid $base-05;
  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }

  @include MQ(M) {
    @include font-size(14px);
  }
}

.highlight {
  margin-bottom: 1em;
  margin-top: 1em;
  pre {
    margin-bottom: 0;
  }
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
  margin: 1em 0;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 12px;
  @include MQ(M) {
    font-size: 14px !important;
  }
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
