<header class="main-header">
    <div class="wc-container">
        <h1><a href="{{ site.baseurl }}/">{{ site.positive.name }}</a></h1>
        <ul>
            <li>
                <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">{% translate global.about %}</a><span>/</span>
            </li>
            <li>
                <a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">{% translate global.blog_archive %}</a><span>/</span>
            </li>
        </ul>               
    </div>
</header>
